@import url("https://fonts.googleapis.com/css?family=Barlow:400,500");
.search__select {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  height: 30px;
  width: 250px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 15px 2px rgba(87, 90, 93, 0.3); }