@import url("https://fonts.googleapis.com/css?family=Barlow:400,500");
body {
  margin: 0;
  font-family: "Barlow", "Arial", "sans-serif"; 
}

.main {
  position: relative;
  background-image: linear-gradient(rgba(228, 224, 224, 0.4), rgba(184, 184, 185, 0.4));
  height: 100vh;
  width: 100vw; 
}

.logo__adalab {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 100px; 
}

