@import url('https://fonts.googleapis.com/css?family=Barlow:400,500');

$white      : #FFFFFF;
$lightgray  : #E4E0E0;
$gray       : #B8B8B9;
$darkgray   : #575A5D;
$lightgreen : #14D8C3;
$green      : #099D8D;
$blue       : #2951a8;

$font : 'Barlow', 'Arial', 'sans-serif';